/**********************************************************************************************************************
 ** STYLES FOR COMMON TAGS ********************************************************************************************
 **********************************************************************************************************************/

/* Headings */
h1 { font-size: 30px; line-height: 34px; }
h2 { font-size: 24px; line-height: 34px; }
h3 { font-size: 20px; line-height: 30px; }
h4 { font-size: 16px; line-height: 20px; }
h5 { font-size: 14px; line-height: 20px; }
h6 { font-size: 12px; line-height: 20px; }
p { font-size: 16px;}

/* Pre-formatted code */
pre {
    word-break: normal;
}

/* Horizontal rule */
hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Links with border when they are hovered */
a.bordered {
    border: 1px solid transparent;
}
a.bordered:hover {
    border: 1px solid;
}

/* Tables */
.table {
    margin-top: 8px;
    margin-bottom: 10px;
}
.table thead th a {
    color: black;
}
.table thead th {
    padding-top: 0px;
}
.table>tbody {
    border-top: none !important;
}
.table>tbody>tr:last-child>td {
    border-bottom: 1px solid #dddddd;
}
.table tr.selected td {
    background-color: #DDF0FF !important;
}
.table tr.deprecated:nth-child(odd) td {
    background-color: #e3e3e3 !important;
    border-top-color: #f8f8f8;
}
.table tr.deprecated:nth-child(even) td {
    background-color: #dadada !important;
    border-top-color: #f8f8f8;
}
.table tr.odd td {
    background-color: #f9f9f9 !important;
}
.table tr.odd.deprecated td {
    background-color: #e3e3e3 !important;
    border-top-color: #f8f8f8;
}
.table tr.even td {
    background: none !important;
}
.table tr.even.deprecated td {
    background-color: #dadada !important;
    border-top-color: #f8f8f8;
}
.table tr.description td {
    border-top: none;
    padding-top: 0px;
    padding-left: 8px;
    margin-top: -8px;
}
.table tr td ul {
    margin-bottom: 0px;
}
.table tr td.empty, span.empty {
    background-color: transparent !important;
    text-align: center;
    color: #AAAAAA;
}

/* Description list */
dl.dl-horizontal {
    display: block;
}
dl.dl-horizontal {
    margin-top: 10px;
    margin-bottom: 0px;
}
dl.dl-horizontal dt, dd {
    font-size: 1.1em;
    min-height: 20px;
    margin-top: 0px;
    padding-bottom: 10px;
}
dl.dl-horizontal dt {
    width: 230px;
}
dl.dl-horizontal dd {
    margin-left: 240px;
}
dl.dl-horizontal hr {
    margin-top: 0px;
    margin-bottom: 10px;
}
dl.dl-horizontal .btn {
    padding: 0px 3px;
}

/* Form */
form.inline {
    display: inline-block;
}
form fieldset textarea {
    resize:none;
}
form fieldset legend.select {
    padding-bottom: 5px;
    margin-bottom: 0px;
}
form fieldset legend.select span {
    display: inline-block;
    line-height: 20px;
}
form fieldset legend.select ul {
    display: inline-block;
    margin: 0px;
    padding-bottom: 3px;
    vertical-align: bottom;
}
form .controls .description {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: -8px;
}
form .radio {
    padding-top: 0px !important;
}
/* Form - double width input */
form .double-width input {
    width: 336px;
}
form .double-width textarea {
    width: 336px;
}
form .double-width select {
    width: 350px;
}
/* Form - reCaptcha*/
form .recaptcha {
    display: inline-block;
    margin-bottom: -5px;
}
form .recaptcha input {
    border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px;
    padding: 1px 0px 1px 4px;
    box-shadow: none;
    border-color: rgb(223, 223, 223) !important;
}
form .recaptcha.error table {
    border-color: red !important;
}
/** Form - Errors */
form input.error {
    border: solid 1px red;
    background-color: #FFF0F0;
}
form select.error {
    border: solid 1px red;
    background-color: #FFF0F0;
}
form textarea.error {
    border: solid 1px red;
    background-color: #FFF0F0;
}
form span.error {
    color: red;
    font-weight: bold;
    margin: 0px 8px;
    padding: 5px 0px;
    vertical-align: top;
    display: inline-block;
}


/**********************************************************************************************************************
 ** STYLES FOR CUSTOM TAGS ********************************************************************************************
 **********************************************************************************************************************/

/* Layout - Navigation */
.navbar .navbar-inner {
    padding-left: 10px;
    padding-right: 10px;
}
.navbar .main {
    display: inline-block;
    margin-bottom: -10px;
}
.navbar .brand {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 0px;
    padding-right: 0px;
}
.navbar .navbar-text {
    margin-left: 5px;
    margin-right: 5px;
}
.navbar .breadcrumb {
    margin-bottom: 0px;
    background: transparent;
}
/* Layout - Navigation - Collapse button */
.navbar button.btn-navbar {
    padding: 5px 10px;
}
.navbar button.btn-navbar div {
    display: inline-block;
}
.navbar button.btn-navbar span {
    color: #999999;
    text-shadow: 2px -2px 0 #f5f5f5;
}
/* Layout - Navigation - Drop-down menu */
.navbar .dropdown-menu>li>a {
    padding-left: 25px;
}
.navbar .dropdown-menu>li>a>span {
    margin-left: -18px;
    padding-right: 4px;
}
/* Layout - Navigation - Timezone */
.navbar .timezone {
    font-weight: bold;
}
/* Layout - Navigation - Language */
.navbar img.language {
    border: solid 1px;
    margin-top: -2px;
    padding: 1px;
    width: 16px;
    height: 11px;
}
/** Layout - Navigation - Breadcrumb */
.navbar .breadcrumb {
    padding-right: 5px;
}

/* Date/Time */
.date-time {
    display: inline-block;
    margin-right: 3px;
}
.date-time table td {
    padding: 0px;
    border-top: none;
    background-color: transparent !important;
}
.date-time table td:last-child {
    padding-left: 5px;
}
.date-time table {
    margin-bottom: -10px;
}

/* Block of actions (What do you want to do?) */
div.actions {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px 20px;
    font-size: 20px;
    border: solid 1px #888888;
    background-color: #f9f9f9;
}
div.actions span {
    font-weight: bold;
    line-height: 30px;
}
div.actions ul {
    margin-bottom: 0px;
}
div.actions li a {
    line-height: 30px;
}
div.actions li span {
    line-height: 30px;
    font-weight: normal;
    color: #808080;
}

/* Spinner (demonstrates waiting state) */
.spinner {
    background-image: url("/img/spinner.gif");
    background-repeat: no-repeat;
    background-position: center;
    height: 32px;
    margin: 20px;
}

/* Pagination */
.pagination {
    margin-top: 10px;
    margin-bottom: 10px;
}
.pagination.pull-right {
    margin-top: 0px;
    margin-bottom: 10px;
}
.pagination .page {
    border: solid 1px;
    margin: 2px 4px;
    padding: 2px;
}

/** Bordered block */
div.bordered {
    margin-top: 10px;
    border: 1px solid #AAAAAA;
    padding: 10px;
    border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
div.bordered h2 {
    margin-top: 0px;
}
div.bordered table {
    margin-bottom: 0px;
}

/* Tooltip */
.tooltip-label {
    display: inline-block;
    cursor: default;
}
img.tooltip-label {
    padding-left: 3px;
    padding-bottom: 3px;
}
.tooltip-label.dotted {
    border-bottom: 1px dotted;
}
.tooltip-container {
    display: inline-block;
    line-height: 20px;
}
.tooltip-container .tooltip-content {
    position: absolute;
    display: none;
    padding: 5px 10px;
    background-color: #FEFEFE;
    border: 1px solid #0088cc;
    border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
    z-index: 1;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    max-width: 500px;
}
.tooltip-container.bottom-left .tooltip-content {
    margin-top: 10px;
    margin-left: 3px;
}
.tooltip-container.bottom-right .tooltip-content {
    margin-top: 10px;
    margin-left: -3px;
}
.tooltip-container .tooltip-content:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: #0088cc;
    position: absolute;
}
.tooltip-container.bottom-left .tooltip-content:before {
    top: -7px;
    right: 6px;
}
.tooltip-container.bottom-right .tooltip-content:before {
    top: -7px;
    left: 6px;
}
.tooltip-container .tooltip-content:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 7px solid #ffffff;
    position: absolute;
}
.tooltip-container.bottom-left .tooltip-content:after {
    top: -6px;
    right: 7px;
}
.tooltip-container.bottom-right .tooltip-content:after {
    top: -6px;
    left: 7px;
}
.tooltip-container .tooltip-content pre {
    border: none;
    background: none;
    margin: 0px;
    padding: 5px;
}
.tooltip-container .tooltip-content p {
    font-size: 13px;
}


/**********************************************************************************************************************
 ** ICONS *************************************************************************************************************
 **********************************************************************************************************************/
i[class^="icon-"]:before {
    text-decoration: none;
}
b[class^="icon-"]:before {
    text-decoration: none;
}
.icon-none {
    width: 11px;
    height: 14px;
    display: inline-block;
}
.icon-not-available {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url("../img/button-not-available.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
}
.icon-available {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    line-height: 14px;
    background-image: url("../img/button-available.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
}
.icon-disable-sorting {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
.icon-disable-sorting:before {
    content: '\f175  \f00d';
}


/**********************************************************************************************************************
 ** APPLICATION COMMONS ***********************************************************************************************
 **********************************************************************************************************************/

/* AllocationState */
.allocation-state .NOT_ALLOCATED {
    color: #b8860b;
}
.allocation-state .ALLOCATED {
    color: green;
}
.allocation-state .ALLOCATION_FAILED {
    color: red;
}

/* ExecutableState */
.executable-state .NOT_STARTED {
    color: #b8860b;
}
.executable-state .STARTED {
    color: green;
}
.executable-state .STARTING_FAILED {
    color: red;
}
.executable-state .STOPPED {
    color: blue;
}
.executable-state .STOPPING_FAILED {
    color: red;
}

/* ReservationRequestState */
.reservation-request-state .NOT_ALLOCATED {
    color: #b8860b;
}
.reservation-request-state .ALLOCATED {
    color: green;
}
.reservation-request-state .ALLOCATED_STARTED,
.reservation-request-state .ALLOCATED_STARTED_NOT_AVAILABLE,
.reservation-request-state .ALLOCATED_STARTED_AVAILABLE {
    color: green;
}
.reservation-request-state .ALLOCATED_FINISHED {
    color: blue;
}
.reservation-request-state .FAILED {
    color: red;
}
.reservation-request-state .MODIFICATION_FAILED {
    color: darkorange;
}

/* RoomState */
.room-state .NOT_STARTED {
    color: #b8860b;
}
.room-state .STARTED,
.room-state .STARTED_NOT_AVAILABLE,
.room-state .STARTED_AVAILABLE {
    color: green;
}
.room-state .STOPPED {
    color: blue;
}
.room-state .FAILED {
    color: red;
}

/* Icons for ReservationRequestState and RoomState */
.reservation-request-state .ALLOCATED_STARTED_NOT_AVAILABLE:after,
.reservation-request-state .ALLOCATED_STARTED_AVAILABLE:after,
.room-state .STARTED_NOT_AVAILABLE:after,
.room-state .STARTED_AVAILABLE:after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 3px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
}
.reservation-request-state .ALLOCATED_STARTED_NOT_AVAILABLE:after,
.room-state .STARTED_NOT_AVAILABLE:after{
    background-image: url("../img/button-not-available.png");
}
.reservation-request-state .ALLOCATED_STARTED_AVAILABLE:after,
.room-state .STARTED_AVAILABLE:after{
    background-image: url("../img/button-available.png");
}

/** Room aliases */
span.aliases.not-available {
    color: #808080;
}
.tooltip-content span.aliases.not-available {
    color: red;
    font-weight: bold;
    text-align: center;
    display: block;
}
table.aliases * {
    background: none;
    background-color: transparent !important;
    border: none;
    border-top: none;
    word-break: keep-all;
}
table.aliases td {
    display: inline-block;
    white-space:nowrap;
    padding: 3px 5px;
}
table.aliases td.label {
    display: table-cell;
    font-weight: bold;
    color: black;
    text-shadow: none;
    text-align: right;
}


/**********************************************************************************************************************
 ** APPLICATION VIES AND TAGS *****************************************************************************************
 **********************************************************************************************************************/

/** Not available block for views/room.jsp and views/controllerNotAvailable.jsp */
div.not-available {
    margin: 20px 20px;
    padding: 10px 30px;
    border: 1px solid #BBBBBB;
    border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px;
    text-align: center;
}
.not-available h2 {
    color: red;
}
.not-available p {
    font-weight: bold;
}

/* vies/error.jsp */
.jspError pre {
    margin: 10px;
}

/* tags/reportForm.tag */
.tagReportForm {
    margin: 20px;
}
.tagReportForm textarea {
    height: 200px;
}

/* vies/error.jsp */
.jspError pre {
    margin: 10px;
}

.jspReservationRequestDetailHistory {
    display: inline-block;
    margin-left: 25px;
}
@media (min-width: 1020px) {
    .jspReservationRequestDetailHistory {
        display: block;
        float: right;
    }
}
