/** Layout */
html, body   {
    height: 100%;
    padding: 0px;
}
body {
}
.content {
    display: table;
    height: 100%;
    width: 100%;
}
.block {
    display: table-row;
    height: 1px;
}
.block .container {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.push {
    height: auto;
}
.footer {
    background-color: #f5f5f5;
    text-align: center;
}