/** Headings */
h1 { font-size: 30px; line-height: 34px; }
h2 { font-size: 24px; line-height: 34px; }
h3 { font-size: 20px; line-height: 30px; }
h4 { font-size: 16px; line-height: 20px; }
h5 { font-size: 14px; line-height: 20px; }
h6 { font-size: 12px; line-height: 20px; }
p { font-size: 16px;}

pre {
    word-break: normal;
}

/** Navigation */
.navbar .navbar-inner {
    padding-left: 10px;
    padding-right: 10px;
}
.navbar .main {
    display: inline-block;
    margin-bottom: -10px;
}
.navbar .brand {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 0px;
    padding-right: 0px;
}
.navbar .navbar-text {
    margin-left: 5px;
    margin-right: 5px;
}
.navbar .breadcrumb {
    margin-bottom: 0px;
    background: transparent;
}
/** Navigation collapse button */
.navbar button.btn-navbar {
    padding: 5px 10px;
}
.navbar button.btn-navbar div {
    display: inline-block;
}
.navbar button.btn-navbar span {
    color: #999999;
    text-shadow: 2px -2px 0 #f5f5f5;
}
/** Navigation timezone */
#timezone {
    font-weight: bold;
}
/** Navigation language icon */
img.language {
    border: solid 1px;
    margin-top: -2px;
    padding: 1px;
    width: 16px;
    height: 11px;
}
/** Navigation breadcrumb */
.breadcrumb {
    padding-right: 5px;
}

/* Actions */
div.actions {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px 20px;
    font-size: 20px;
    border: solid 1px #888888;
    background-color: #f9f9f9;
}
div.actions span {
    font-weight: bold;
    line-height: 30px;
}
div.actions ul {
    margin-bottom: 0px;
}
div.actions li a {
    line-height: 30px;
}
div.actions li span {
    line-height: 30px;
    font-weight: normal;
    color: #808080;
}


/** Navigation nav-pills disabled state */
.nav-pills.disabled li a {
    color: #999;
    cursor: default;
}
.nav-pills.disabled li.active a {
    color: #FFFFFF;
}
.nav-pills.disabled li a:hover {
    background-color: transparent;
}
.nav-pills.disabled li.active a:hover {
    background-color: #08c;
}

/** Table empty row style */
td.empty, span.empty {
    background-color: transparent !important;
    text-align: center;
    color: #AAAAAA;
}

/** Spinner */
.spinner {
    background-image: url("/img/spinner.gif");
    background-repeat: no-repeat;
    background-position: center;
    height: 32px;
    margin: 20px;
}

/** pagination page links */
.pagination {
    margin-top: 10px;
    margin-bottom: 10px;
}
.pagination.pull-right {
    margin-top: 0px;
    margin-bottom: 10px;
}
.pagination .page {
    border: solid 1px;
    margin: 2px 4px;
    padding: 2px;
}

/** Tables */
.table th {
    padding-top: 0px;
}
.table {
    margin-top: 8px;
    margin-bottom: 10px;
}
.table tr.selected td {
    background-color: #DDF0FF !important;
}
.table tr.deprecated td {
    background-color: #666666 !important;
}
.table thead a {
    color: black;
}
.table .odd td {
    background-color: #f9f9f9 !important;
}
.table .even td {
    background: none !important;
}
.table tr.description td {
    border-top: none;
    padding-top: 0px;
}

.icon-disable-sorting {
    display: inline-block;
    margin-left: 14px;
    margin-right: 2px;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../img/glyphicons-halflings.png");
    background-position: -312px 0px;
    background-repeat: no-repeat;
}
.icon-disable-sorting:after {
    content: '';
    display: inline-block;
    margin-left: -10px;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../img/glyphicons-halflings.png");
    background-position: -434px -121px;
    background-repeat: no-repeat;
}

a.hovered {
    border: 1px solid transparent;
}
a.hovered:hover {
    border: 1px solid;
}

/** Horizontal rules */
hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

/** Description lists */
dl.dl-horizontal {
    display: table;
}
dl.dl-horizontal {
    margin-top: 10px;
    margin-bottom: 0px;
}
dl.dl-horizontal dt, dd {
    font-size: 1.1em;
    min-height: 20px;
    margin-top: 0px;
    padding-bottom: 10px;
}
dl.dl-horizontal dt {
    width: 230px;
}
dl.dl-horizontal dd {
    margin-left: 240px;
}
dl.dl-horizontal hr {
    margin-top: 0px;
    margin-bottom: 10px;
}

/** Form */
form fieldset textarea {
    resize:none;
}
form fieldset legend.select {
    padding-bottom: 5px;
    margin-bottom: 0px;
}
form fieldset legend.select span {
    display: inline-block;
    line-height: 20px;
}
form fieldset legend.select ul {
    display: inline-block;
    margin: 0px;
    padding-bottom: 3px;
    vertical-align: bottom;
}
form .controls .description {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: -8px;
}


/** Form double width */
form .double-width input {
    width: 336px;
}
form .double-width textarea {
    width: 336px;
}
form .double-width select {
    width: 350px;
}
/** Form radio buttons */
form .radio {
    padding-top: 0px !important;
}
/** Form errors */
form input.error {
    border: solid 1px red;
    background-color: #FFF0F0;
}
form select.error {
    border: solid 1px red;
    background-color: #FFF0F0;
}
form textarea.error {
    border: solid 1px red;
    background-color: #FFF0F0;
}
form span.error {
    color: red;
    font-weight: bold;
    margin: 0px 8px;
    padding: 5px 0px;
    vertical-align: top;
    display: inline-block;
}

/** Not available page */
div.not-available {
    margin: 20px 20px;
    padding: 10px 30px;
    border: 1px solid #BBBBBB;
    border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px;
    text-align: center;
}
.not-available h2 {
    color: red;
}
.not-available p {
    font-weight: bold;
}

/** Border for div */
div.bordered {
    margin-top: 10px;
    border: 1px solid #AAAAAA;
    padding: 10px;
    border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
div.bordered h2 {
    margin-top: 0px;
}
div.bordered table {
    margin-bottom: 0px;
}

/** Help icon */
.help-icon {
    padding-left: 3px;
    padding-bottom: 3px;
}
/** Tooltips */
.tooltip-container {
    display: inline-block;
    line-height: 20px;
}
.tooltip-label {
    display: inline-block;
    cursor: default;
}
.tooltip-label.dotted {
    border-bottom: 1px dotted;
}
.tooltip-content {
    position: absolute;
    display: none;
    margin-top: 10px;
    margin-left: -3px;
    padding: 5px 10px;
    background-color: #FEFEFE;
    border: 1px solid #0088cc;
    border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
    z-index: 1;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    max-width: 500px;
}
.tooltip-content:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: #0088cc;
    position: absolute;
    top: -7px;
    left: 6px;
}
.tooltip-content:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 7px solid #ffffff;
    position: absolute;
    top: -6px;
    left: 7px;
}
.tooltip-content pre {
    border: none;
    background: none;
    margin: 0px;
    padding: 5px;
}
.tooltip-content p {
    font-size: 13px;
}

/** Aliases table */
span.aliases.not-available {
    color: #808080;
}
.tooltip-content span.aliases.not-available {
    color: red;
    font-weight: bold;
    text-align: center;
    display: block;
}
table.aliases * {
    background: none;
    background-color: transparent !important;
    border: none;
    border-top: none;
    word-break: keep-all;
}
table.aliases td {
    display: inline-block;
    white-space:nowrap;
    padding: 3px 5px;
}
table.aliases td.label {
    display: table-cell;
    font-weight: bold;
    color: black;
    text-shadow: none;
    text-align: right;
}

/** AllocationState */
.allocation-state .NOT_ALLOCATED {
    color: #b8860b;
}
.allocation-state .ALLOCATED {
    color: green;
}
.allocation-state .ALLOCATION_FAILED {
    color: red;
}

/** ExecutableState */
.executable-state .NOT_STARTED {
    color: #b8860b;
}
.executable-state .STARTED {
    color: green;
}
.executable-state .STARTING_FAILED {
    color: red;
}
.executable-state .STOPPED {
    color: blue;
}
.executable-state .STOPPING_FAILED {
    color: red;
}

/** ReservationRequestState */
.reservation-request-state .NOT_ALLOCATED {
    color: #b8860b;
}
.reservation-request-state .ALLOCATED {
    color: green;
}
.reservation-request-state .STARTED {
    color: green;
}
.reservation-request-state .FINISHED {
    color: blue;
}
.reservation-request-state .FAILED {
    color: red;
}
.reservation-request-state .MODIFICATION_FAILED {
    color: darkorange;
}

/** RoomState */
.room-state .NOT_STARTED {
    color: #b8860b;
}
.room-state .STARTED {
    color: green;
}
.room-state .STARTED_NOT_AVAILABLE {
    color: #b8860b;
}
.room-state .STARTED_AVAILABLE {
    color: green;
}
.room-state .STOPPED {
    color: blue;
}
.room-state .FAILED {
    color: red;
}


/* error page */
.error pre {
    margin: 10px;
}

.report {
    margin: 20px;
}
.report textarea {
    height: 200px;
}

.icon-none {
    width: 14px;
    height: 14px;
}

