/** Headings */
h1 { font-size: 30px; line-height: 34px; }
h2 { font-size: 24px; line-height: 34px; }
h3 { font-size: 20px; line-height: 30px; }
h4 { font-size: 16px; line-height: 20px; }
h5 { font-size: 14px; line-height: 20px; }
h6 { font-size: 12px; line-height: 20px; }
p { font-size: 16px;}

/** Navigation pull right margin */
.navbar .pull-right {
    margin-left: 10px;
    margin-right: 10px;
}
/** Navigation timezone */
#timezone {
    font-weight: bold;
}
/** Navigation language icon */
img.language {
    border: solid 1px;
    margin-top: -2px;
    padding: 1px;
    width: 16px;
    height: 11px;
}

/** Navigation nav-pills disabled state */
.nav-pills.disabled li a {
    color: #999;
    cursor: default;
}
.nav-pills.disabled li.active a {
    color: #FFFFFF;
}
.nav-pills.disabled li a:hover {
    background-color: transparent;
}
.nav-pills.disabled li.active a:hover {
    background-color: #08c;
}

/** Table empty row style */
td.empty {
    background-color: transparent !important;
    text-align: center;
    color: #AAAAAA;
}

/** Spinner */
.spinner {
    background-image: url("/img/spinner.gif");
    background-repeat: no-repeat;
    background-position: center;
    height: 32px;
    margin: 20px;
}

/** pagination page links */
.pagination-page {
    border: solid 1px;
    margin: 2px 4px;
    padding: 2px;
}

/** Tables */
.table {
    margin-bottom: 10px;
}

/** Horizontal rules */
hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

/** Description lists */
dt, dd {
    font-size: 1.1em;
    height: 2em;
}

/** Form group */
form fieldset legend.select {
    padding-bottom: 5px;
    margin-bottom: 0px;
}
form fieldset legend.select span {
    display: inline-block;
    line-height: 20px;
}
form fieldset legend.select ul {
    display: inline-block;
    margin: 0px;
    padding-bottom: 3px;
    vertical-align: bottom;
}

/** Form double width */
form .double-width input {
    width: 350px;
}
/** Form radio buttons */
form .radio {
    padding-top: 0px !important;
}
/** Form errors */
form input.error {
    border: solid 1px red;
    background-color: #FFF0F0;
}
form span.error {
    color: red;
    font-weight: bold;
    margin: 5px;
}

/** Not available page */
div.not-available {
    margin: 50px;
    padding: 10px 30px;
    border: 1px solid #BBBBBB;
    border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px;
    text-align: center;
}
.not-available h2 {
    color: red;
}
.not-available p {
    font-weight: bold;
}

/** Tooltips */
.tooltip-container {
    display: inline-block
}
.tooltip-label {
    display: inline-block;
    margin-left: 5px;
}
.tooltip-content {
    position: absolute;
    display: none;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #FEFEFE;
    border: 1px solid #0088cc;
    border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
    z-index: 1;
}
.tooltip-content:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: #0088cc;
    position: absolute;
    top: -7px;
    left: 6px;
}
.tooltip-content:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    position: absolute;
    top: -6px;
    left: 7px;
}

