[submodule "shongo-client-web/src/lib/font-awesome"]
	path = shongo-client-web/src/lib/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
	ignore = dirty
[submodule "shongo-client-web/src/lib/bootstrap"]
	path = shongo-client-web/src/lib/bootstrap
	url = https://github.com/twitter/bootstrap.git
	ignore = dirty
