/**
 * CSS for shongo-client-web.
 *
 * @author Martin Srom <martin.srom@cesnet.cz>
 */
/* icons */
.fa.fa-none {
  width: 11px;
  height: 14px;
  display: inline-block;
}
.fa.fa-disable-sorting {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.fa.fa-disable-sorting:before {
  content: '\f175  \f00d';
}
.fa-red {
  color: red;
}
.fa-green {
  color: green;
}
/* help icon */
img.help-icon {
  margin-left: 8px;
}
.add-on img.help-icon {
  margin-left: 4px;
  padding-bottom: 2px;
}
/* AllocationState */
.allocation-state .NOT_ALLOCATED {
  color: #b8860b;
}
.allocation-state .ALLOCATED {
  color: green;
}
.allocation-state .ALLOCATION_FAILED {
  color: red;
}
/* ExecutableState */
.executable-state .NOT_STARTED {
  color: #b8860b;
}
.executable-state .STARTED {
  color: green;
}
.executable-state .STARTING_FAILED {
  color: red;
}
.executable-state .STOPPED {
  color: blue;
}
.executable-state .STOPPING_FAILED {
  color: red;
}
/* ReservationRequestState */
.reservation-request-state .NOT_ALLOCATED {
  color: #b8860b;
}
.reservation-request-state .ALLOCATED {
  color: green;
}
.reservation-request-state .ALLOCATED_STARTED,
.reservation-request-state .ALLOCATED_STARTED_NOT_AVAILABLE,
.reservation-request-state .ALLOCATED_STARTED_AVAILABLE {
  color: green;
}
.reservation-request-state .ALLOCATED_FINISHED {
  color: blue;
}
.reservation-request-state .FAILED {
  color: red;
}
.reservation-request-state .MODIFICATION_FAILED {
  color: darkorange;
}
/* RoomState */
.room-state .NOT_STARTED {
  color: #b8860b;
}
.room-state .STARTED,
.room-state .STARTED_NOT_AVAILABLE,
.room-state .STARTED_AVAILABLE {
  color: green;
}
.room-state .STOPPED {
  color: blue;
}
.room-state .FAILED {
  color: red;
}
/* Icons for ReservationRequestState and RoomState */
.reservation-request-state .ALLOCATED_STARTED_NOT_AVAILABLE,
.reservation-request-state .ALLOCATED_STARTED_AVAILABLE,
.room-state .STARTED_NOT_AVAILABLE,
.room-state .STARTED_AVAILABLE {
  white-space: nowrap;
}
.reservation-request-state .ALLOCATED_STARTED_NOT_AVAILABLE:after,
.reservation-request-state .ALLOCATED_STARTED_AVAILABLE:after,
.room-state .STARTED_NOT_AVAILABLE:after,
.room-state .STARTED_AVAILABLE:after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 3px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.reservation-request-state .ALLOCATED_STARTED_NOT_AVAILABLE:after,
.room-state .STARTED_NOT_AVAILABLE:after {
  background-image: url("../img/button-not-available.png");
}
.reservation-request-state .ALLOCATED_STARTED_AVAILABLE:after,
.room-state .STARTED_AVAILABLE:after {
  background-image: url("../img/button-available.png");
}
/* Room aliases */
span.aliases.not-available {
  color: #808080;
}
.qtip-app span.aliases.not-available {
  color: red;
  font-weight: bold;
  text-align: center;
  display: block;
}
table.aliases * {
  background: none;
  background-color: transparent !important;
  border: none;
  border-top: none;
  word-break: keep-all;
}
table.aliases td {
  display: inline-block;
  white-space: nowrap;
  padding: 3px 5px;
}
table.aliases td.title {
  display: table-cell;
  font-weight: bold;
  color: black;
  text-shadow: none;
  text-align: right;
  font-size: 13px;
  line-height: 20px;
  vertical-align: middle;
}
/* session expired overlay */
#session-expired-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  text-align: center;
}
/* Not available block for views/errorRoomNotAvailable.jsp and views/errorControllerNotAvailable.jsp */
div.not-available {
  margin: 20px 20px;
  padding: 10px 30px;
  border: 1px solid #BBBBBB;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  text-align: center;
  clear: both;
}
.not-available h2 {
  color: red;
}
.not-available p {
  font-weight: bold;
}
/* information box */
div.center-content {
  text-align: center;
}
div.information-box {
  margin-top: 100px;
  display: inline-block;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid;
  background-color: #ffffff;
}
div.information-box span {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  padding: 0px 10px;
  line-height: 30px;
  vertical-align: bottom;
}
div.information-box span.description {
  margin-top: 10px;
  font-size: 16px;
}
div.information-box .btn {
  margin-top: 0px;
}
div.information-box .spinner {
  margin: 0px;
  padding-right: 0px;
}
/* vies/error.jsp */
.jspError pre {
  margin: 10px;
}
/* tags/helpRoomType.tag */
.room-examples {
  font-style: italic;
}
.room-examples .room-example {
  display: inline-block;
  text-align: center;
  margin: 0px 30px;
}
.room-examples .room-example .room-image {
  display: inline-block;
  position: relative;
}
.room-examples .room-example .room-image .room-name {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 58px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}
/* tags/reportForm.tag */
.tagReportForm {
  margin: 10px;
}
.tagReportForm textarea {
  height: 200px;
}
.tagReportForm .context {
  display: inline-block;
}
.tagReportForm .context pre {
  margin-top: 5px;
}
/* tags/userRoleList.tag */
.tagUserRoleList .fa-user {
  margin-left: 2px;
  margin-right: 2px;
}
/* vies/error.jsp */
.jspError pre {
  margin: 10px;
}
/* vies/index.jsp */
.jspIndex .warning {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 30px;
  display: block;
  padding: 10px 10px 10px 20px;
  border: solid 1px #888888;
  font-size: 18px;
  background-color: #FAE6E6;
}
.jspIndex .warning p {
  margin-bottom: 0px;
  line-height: 22px;
}
/* vies/help.jsp */
.jspHelp {
  position: relative;
}
.jspHelp > .menu {
  margin-top: 20px;
  font-weight: bold;
}
.jspHelp > .menu > ul > li > a {
  padding: 5px 10px 5px 15px;
  border: 1px solid #ccc;
  border-bottom: none;
}
.jspHelp > .menu > ul > li > a > i {
  margin-left: 10px;
  line-height: 20px;
}
.jspHelp > .menu > ul > li:first-child > a {
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-top-left-radius: 6px;
  -moz-border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.jspHelp > .menu > ul > li:last-child > a {
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-bottom-left-radius: 6px;
  -moz-border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom: 1px solid #ccc;
}
.jspHelp > .content > h2 {
  padding-bottom: 5px;
  margin: 20px 0 20px;
  border-bottom: 1px solid #eee;
}
@media (min-width: 1000px) {
  .jspHelp > .menu {
    margin-top: 0px;
    padding: 9px 0;
    position: fixed;
    top: 100px;
  }
  .jspHelp > .content {
    padding-left: 210px;
  }
}
/* vies/wizardRoomParticipants.jsp */
.jspWizardRoomParticipants .form-horizontal .control-label {
  width: 230px;
}
.jspWizardRoomParticipants .form-horizontal .controls {
  margin-left: 250px;
}
/* vies/reservationRequestDetail.jsp */
.jspReservationRequestDetailHistory {
  display: inline-block;
  margin-left: 25px;
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  .jspReservationRequestDetailHistory {
    display: block;
    float: right;
  }
}
/* vies/wizardRoomType.jsp */
.jspWizardRoomType li p {
  font-size: 16px;
}
.jspWizardRoomType li table {
  margin-left: 30px;
  font-size: 16px;
  border-spacing: 10px 2px;
  border-collapse: separate;
}
.jspWizardRoomType li table td.header {
  text-align: center;
  background-color: #ccc;
  padding: 3px;
}
.jspWizardRoomType li table a.btn {
  line-height: 20px;
  padding: 4px 10px;
}
/* vies/room.jsp */
.icon-recording-start {
  padding-right: 16px;
  padding-top: 2px;
  padding-bottom: 4px;
  margin-right: 5px;
  line-height: 14px;
  background-image: url("../img/button-recording.png");
  background-position: 0px 1px;
  background-repeat: no-repeat;
}
.icon-recording-stop {
  padding-right: 16px;
  padding-top: 2px;
  padding-bottom: 4px;
  margin-right: 5px;
  line-height: 14px;
  background-image: url("../img/button-recording.png");
  background-position: -16px 1px;
  background-repeat: no-repeat;
}
.room-layout .OTHER:before,
.room-layout .SPEAKER:before,
.room-layout .SPEAKER_CORNER:before,
.room-layout .GRID:before {
  content: "";
  padding-right: 16px;
  margin-right: 5px;
  background-image: url("../img/room-layout.png");
  background-position: 0px 1px;
  background-repeat: no-repeat;
}
.room-layout .OTHER:before {
  background-position: 0px 1px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 4px;
  margin-right: 7px;
  color: white;
  font-family: FontAwesome;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  content: "\f128";
  font-size: 13px;
  vertical-align: top;
}
.room-layout .SPEAKER:before {
  background-position: 0px 1px;
}
.room-layout .SPEAKER_CORNER:before {
  background-position: -16px 1px;
}
.room-layout .GRID:before {
  background-position: -32px 1px;
}
/* vies/resourceCapacityUtilization.jsp */
.jspResourceCapacityUtilization td a {
  color: #666666;
}
.jspResourceCapacityUtilization th {
  padding-left: 35px !important;
}
.jspResourceCapacityUtilization .maximum {
  display: inline-block;
  width: 50px;
  text-align: right;
}
.jspResourceCapacityUtilization .utilized .maximum {
  font-weight: bold;
}
.jspResourceCapacityUtilization .utilized100,
.jspResourceCapacityUtilizationDescription .utilized100 td {
  background-color: rgba(255, 0, 0, 0.3) !important;
}
.jspResourceCapacityUtilizationDescription .utilized100 span {
  font-weight: bold;
  color: #eb0000 !important;
}
.jspResourceCapacityUtilization .utilized90,
.jspResourceCapacityUtilizationDescription .utilized90 td {
  background-color: rgba(255, 26, 0, 0.3) !important;
}
.jspResourceCapacityUtilizationDescription .utilized90 span {
  font-weight: bold;
  color: #eb1700 !important;
}
.jspResourceCapacityUtilization .utilized80,
.jspResourceCapacityUtilizationDescription .utilized80 td {
  background-color: rgba(255, 51, 0, 0.3) !important;
}
.jspResourceCapacityUtilizationDescription .utilized80 span {
  font-weight: bold;
  color: #eb2f00 !important;
}
.jspResourceCapacityUtilization .utilized70,
.jspResourceCapacityUtilizationDescription .utilized70 td {
  background-color: rgba(255, 77, 0, 0.3) !important;
}
.jspResourceCapacityUtilizationDescription .utilized70 span {
  font-weight: bold;
  color: #eb4600 !important;
}
.jspResourceCapacityUtilization .utilized60,
.jspResourceCapacityUtilizationDescription .utilized60 td {
  background-color: rgba(255, 102, 0, 0.3) !important;
}
.jspResourceCapacityUtilizationDescription .utilized60 span {
  font-weight: bold;
  color: #eb5e00 !important;
}
.jspResourceCapacityUtilization .utilized50,
.jspResourceCapacityUtilizationDescription .utilized50 td {
  background-color: rgba(255, 128, 0, 0.3) !important;
}
.jspResourceCapacityUtilizationDescription .utilized50 span {
  font-weight: bold;
  color: #eb7500 !important;
}
.jspResourceCapacityUtilization .utilized40,
.jspResourceCapacityUtilizationDescription .utilized40 td {
  background-color: rgba(255, 153, 0, 0.3) !important;
}
.jspResourceCapacityUtilizationDescription .utilized40 span {
  font-weight: bold;
  color: #eb8d00 !important;
}
.jspResourceCapacityUtilization .utilized30,
.jspResourceCapacityUtilizationDescription .utilized30 td {
  background-color: rgba(255, 179, 0, 0.3) !important;
}
.jspResourceCapacityUtilizationDescription .utilized30 span {
  font-weight: bold;
  color: #eba400 !important;
}
.jspResourceCapacityUtilization .utilized20,
.jspResourceCapacityUtilizationDescription .utilized20 td {
  background-color: rgba(255, 204, 0, 0.3) !important;
}
.jspResourceCapacityUtilizationDescription .utilized20 span {
  font-weight: bold;
  color: #ebbc00 !important;
}
.jspResourceCapacityUtilization .utilized10,
.jspResourceCapacityUtilizationDescription .utilized10 td {
  background-color: rgba(255, 230, 0, 0.3) !important;
}
.jspResourceCapacityUtilizationDescription .utilized10 span {
  font-weight: bold;
  color: #ebd300 !important;
}
/* Date/Time */
.date-time {
  display: inline-block;
  margin-right: 3px;
}
.date-time table td {
  padding: 0px;
  border-top: none;
  background-color: transparent !important;
}
.date-time table td:last-child {
  padding-left: 5px;
}
.date-time table {
  margin-bottom: -10px;
}
/* Block of actions (What do you want to do?) */
div.actions {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px 10px 10px 20px;
  font-size: 20px;
  border: solid 1px #888888;
  background-color: #f9f9f9;
}
.tab-pane div.actions {
  margin-top: 0px;
}
div.actions > a {
  float: right;
}
div.actions span {
  font-weight: bold;
  line-height: 30px;
}
div.actions ul {
  margin-bottom: 0px;
}
div.actions li a {
  line-height: 30px;
}
div.actions li span {
  line-height: 30px;
  font-weight: normal;
  color: #808080;
}
div.actions.collapsed {
  padding: 5px 10px;
  font-size: 16px;
}
div.actions.collapsed span {
  line-height: 20px;
}
div.actions.collapsed span a {
  line-height: 20px;
  color: gray;
}
div.actions.collapsed > a {
  line-height: 22px;
}
/* Spinner (demonstrates waiting state) */
.spinner {
  background-image: url("/img/spinner.gif");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9999;
  height: 32px;
  min-width: 32px;
  margin: 20px;
}
.centered-in-element {
  position: absolute;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 165px;
  z-index: 10;
}
.min-input {
  min-width: 200px;
}
/* Pagination */
.pagination-page-size {
  margin-bottom: 5px;
}
.pagination-page-size .btn {
  padding-top: 4px;
  padding-bottom: 4px;
}
.pagination-pages {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.pagination-pages > div {
  margin-top: 10px;
  margin-left: 10px;
}
.pagination-pages .page {
  border: solid 1px;
  margin: 2px 4px;
  padding: 2px;
}
/* Bordered block */
div.bordered {
  margin-top: 10px;
  border: 1px solid #AAAAAA;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
div.bordered h2 {
  margin-top: 0px;
}
div.bordered table {
  margin-bottom: 0px;
}
/* Tooltips */
.qtipForm {
  font-size: 12px;
}
span.dotted {
  border-bottom: 1px dotted;
}
.qtip-app {
  border-color: #AAA;
  background-color: #EEE;
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
  max-width: 600px;
}
.qtip-app-width {
  max-width: none;
}
.qtip-app pre {
  border: none;
  background: none;
  margin: 0px;
  padding: 5px;
}
.qtip-app h1 {
  font-size: 16px;
  line-height: 20px;
  margin-top: 2px;
  margin-bottom: 3px;
}
.qtip-app p {
  font-size: 13px;
}
.qtip-app a:last-child {
  margin-bottom: 5px;
}
/* Modals */
.modal.center {
  top: 30%;
}
/* Other */
.push-top {
  vertical-align: top;
}
/* Bootstrap grid without padding */
.no-padding > div[class*="col-"] {
  padding: 0;
}
.space-padding > div[class*="col-"] {
  padding-left: 8px;
  padding-right: 0px;
}
.space-padding > div[class*="col-"]:first-child {
  padding-left: 0px;
}
.space-padding > div[class*="-12"] {
  padding-left: 0px;
}
.padding-line {
  padding-bottom: 4px;
  padding-left: 30px;
}
.action-padding {
  padding-bottom: 5px;
  padding-top: 5px;
}
/* Divided button group */
.btn-group-divided {
  display: inline-block;
  margin-right: 6px;
  padding-right: 10px;
  border-right: 2px solid #ddd;
}
.btn-group-divided:last-child {
  border-right: none;
  margin-right: 0px;
  padding-right: 0px;
}
/* Pre-formatted code */
pre {
  word-break: normal;
}
/* Horizontal rule */
hr {
  margin-top: 15px;
  margin-bottom: 15px;
}
.dropdown-menu .menuitem {
  padding-left: 25px;
}
.dropdown-menu .menuitem .fa.fa-check {
  margin-left: -19px;
  margin-right: 5px;
}
/* Links with border when they are hovered */
a.bordered {
  border: 1px solid transparent;
}
a.bordered:hover {
  border: 1px solid;
}
/* Alerts */
.alert {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* Calendar */
.top-margin {
  margin-top: 20px;
  margin-bottom: 0px;
}
.short-line {
  display: table;
}
/* Tables */
.table {
  margin-top: 8px;
  margin-bottom: 0px;
}
.table > thead > tr > th a {
  color: black;
}
.table > thead > tr > th {
  padding-top: 0px;
  border-bottom-width: 1px;
}
.table > tbody {
  border-top: none !important;
}
.table > tbody > tr:last-child > td {
  border-bottom: 1px solid #dddddd;
}
.table > tbody > tr.active > td {
  background-color: #DDF0FF;
}
.table tr.deprecated:nth-child(odd) td {
  background-color: #e3e3e3 !important;
  border-top-color: #f8f8f8;
}
.table tr.deprecated:nth-child(even) td {
  background-color: #dadada !important;
  border-top-color: #f8f8f8;
}
.table tr.odd td {
  background-color: #f9f9f9 !important;
}
.table tr.odd.deprecated td {
  background-color: #e3e3e3 !important;
  border-top-color: #f8f8f8;
}
.table tr.even td {
  background: none !important;
}
.table tr.even.deprecated td {
  background-color: #dadada !important;
  border-top-color: #f8f8f8;
}
.table tr.description td {
  border-top: none;
  padding-top: 0px;
  padding-left: 8px;
  margin-top: -8px;
}
.table tr td ul {
  margin-bottom: 0px;
}
.table tr td.empty,
span.empty {
  background-color: transparent !important;
  text-align: center;
  color: #AAAAAA;
}
/* Action under table */
.table-actions {
  margin-top: 10px;
  margin-bottom: 10px;
}
.tab-pane .table-actions {
  margin-bottom: 0px;
}
.table-actions-left .table-actions {
  float: left;
}
.table-actions-right .table-actions {
  float: right;
}
div.table-actions.pull-right {
  float: right;
}
/* Description list */
dl.dl-horizontal {
  display: block;
}
dl.dl-horizontal {
  margin-top: 10px;
  margin-bottom: 0px;
}
dl.dl-horizontal dt,
dd {
  font-size: 1.1em;
  min-height: 20px;
  margin-top: 0px;
  padding-bottom: 10px;
}
dl.dl-horizontal dt {
  width: 230px;
  float: left;
  clear: left;
  text-align: right;
}
dl.dl-horizontal dd {
  margin-left: 240px;
}
dl.dl-horizontal hr {
  margin-top: 0px;
  margin-bottom: 10px;
}
dl.dl-horizontal .btn {
  padding: 0px 3px;
}
dl.dl-horizontal dt.control-label {
  padding-top: 5px;
  padding-bottom: 5px;
}
dl.dl-horizontal dd select {
  margin-bottom: 0px;
}
dl.dl-horizontal .alert {
  display: table;
  margin-top: 5px;
}
/* Tabs */
.tabbable {
  margin-top: 15px;
  margin-bottom: 0px;
}
.tabbable a {
  cursor: pointer;
}
.nav-tabs {
  margin-bottom: 0px;
}
.nav-tabs a {
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
.tab-content {
  padding: 10px;
  border: 1px solid #ddd;
  border-top: 0;
}
.tab-content .alert {
  display: inline-block;
  padding-right: 15px;
  margin-bottom: 0px;
}
/* Form - common settings */
textarea {
  resize: none;
}
/* Form - reCaptcha */
iframe[src="about:blank"] {
  display: block;
}
form .recaptcha {
  display: inline-block;
  margin-bottom: -5px;
}
form .recaptcha input {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  padding: 1px 0px 1px 4px;
  box-shadow: none;
  border-color: #dfdfdf !important;
}
form .recaptcha.error table {
  border-color: #b94a48 !important;
}
/* Errors */
input.error,
select.error,
textarea.error,
.select2-container.form-control.error a {
  border: solid 1px #b94a48;
  background-color: #FFF0F0;
}
span.error,
div.error {
  color: #b94a48;
  font-weight: bold;
}
.form-inline .input-group {
  display: inline-table;
  vertical-align: middle;
  width: 1px;
}
.form-group .input-group-addon input[type=checkbox] {
  margin-left: 0px;
}
.form-group .checkbox-inline {
  padding-top: 0px;
}
.checkbox-inline label {
  margin-bottom: 0px;
}
/* Listing filter */
.form-inline.filter {
  margin: 10px 0px;
  padding: 10px 0px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.form-inline.filter .title {
  position: absolute;
  font-weight: bold;
  padding-top: 11px;
  padding-right: 10px;
  text-align: right;
  min-width: 100px;
}
.form-inline.filter .toggle {
  padding-top: 12px;
}
.form-inline.filter .row {
  margin-top: 5px;
  margin-left: 100px;
  margin-right: 0px;
}
.form-inline.filter-collapsed .row {
  display: inline-block;
  margin-left: 0px;
}
.form-inline.filter-collapsed .row:first-of-type {
  margin-left: 100px;
}
.form-inline.filter .row .input-group-addon {
  min-width: 100px;
}
.form-inline.filter-collapsed .row .input-group-addon {
  min-width: 0px;
}
.form-inline.filter .row .checkbox-inline:first-child {
  margin-left: 5px;
}
/* Form picker */
.form-picker[readonly] {
  background-color: white;
  cursor: auto;
}
.nav.navbar-nav > .divider {
  height: 34px;
  margin: 8px 6px;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #fff;
}
.vdivider {
  border-left: 1px solid #eee;
  height: 85px;
  margin-left: 30px;
  margin-right: 10px;
  margin-top: 15px;
  float: left;
}
#input {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  background-color: white;
  background-color: -moz-field;
  border: 1px solid darkgray;
  box-shadow: 1px 1px 1px 0 lightgray inset;
  font: -moz-field;
  font: -webkit-small-control;
  margin-top: 5px;
  padding: 2px 3px;
  width: 100%;
}
.wizard {
  margin-bottom: 15px;
  margin-top: 15px;
}
.wizard .link {
  padding: 10px 10px 10px;
  margin-right: 5px;
  background: #efefef;
  position: relative;
  display: inline-block;
}
.wizard .link:before {
  width: 0;
  height: 0;
  border-top: 20px inset transparent;
  border-bottom: 20px inset transparent;
  border-left: 20px solid #fff;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
}
.wizard .link:after {
  width: 0;
  height: 0;
  border-top: 20px inset transparent;
  border-bottom: 20px inset transparent;
  border-left: 20px solid #efefef;
  position: absolute;
  content: "";
  top: 0;
  right: -20px;
  z-index: 2;
}
.wizard .link:first-child:before {
  border: none;
}
.wizard .link:last-child:after {
  border: none;
}
.wizard .link:first-child {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.wizard .link:last-child {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.wizard .link:only-child {
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
}
.wizard .badge {
  margin: 0 3px 0 18px;
  position: relative;
  top: -1px;
  border-left: none;
}
.wizard a:first-child .badge {
  margin-left: 0;
}
/* hovered link */
.wizard a:hover {
  text-decoration: none;
  background: #e0e0e0;
}
.wizard a:hover:after {
  border-left-color: #e0e0e0;
}
/* current link */
.wizard .link.active {
  background: #007ACC;
  color: #fff;
}
.wizard .link.active:after {
  border-left-color: #007ACC;
}
/* current hovered link */
.wizard a.active:hover {
  background: #008AEC;
}
.wizard a.active:hover:after {
  border-left-color: #008AEC;
}

