${type.getName()} reservation by
  ${template.formatUser(${reservation.userId})}

Reservation:
------------

  Identifier:       ${reservation.id}

  Start date/time:  ${template.formatDateTime(${reservation.slot})} (local time)
                    ${template.formatDateTimeUTC(${reservation.slot})} (UTC)

  Duration:         ${template.formatDuration(${reservation.slot})}
#if ( ${specification.class.simpleName} == "RoomSpecification" )

  Conference type:  ##
#foreach( $technology in ${specification.technologies} )
$technology.name#if( $foreach.hasNext ), #end
#end


  Participants:     ${specification.participantCount}
#end
#if ( ${reservation.class.simpleName} == "RoomReservation" )

  Device:           ${reservation.resourceName} (id: ${reservation.resourceId}, licenses: ${reservation.licenseCount})
#end
#if ( ${reservationRequest}  )

  Based on request:

    Created at:     ${template.formatDateTime(${reservationRequest.created})}

    Identifier:     ${reservationRequest.id}

    Name:           ${reservationRequest.name}
#end
#if ( ${reservation.class.simpleName} == "RoomReservation" )

  How to reach:
##
#foreach( $alias in ${reservation.executable.aliases})

#if ( ${alias.type} == "H323_E164" )
  * H.323 GDS number: 00420${alias.value}

  * PSTN dial in: +420${alias.value}##
#elseif ( ${alias.type} == "SIP_URI" )
  * SIP: sip:${alias.value}##
#elseif ( ${alias.type} == "ADOBE_CONNECT_URI" )
  * URL: ${alias.value}##
#end

#end
#end
##
################################################################
