/**
 * CESNET design for shongo-client-web.
 *
 * @author Martin Srom <martin.srom@cesnet.cz>
 */
/* page layout (based on http://ryanfait.com/resources/footer-stick-to-bottom-of-page/)*/
html,
body {
  height: 100%;
}
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -280px;
  padding-bottom: 10px;
}
#footer,
.push {
  height: 280px;
}
/* page wrapper */
#page_wrapper {
  border-top: 12px solid #006600;
}
/* fixed cesnet linker popups to not expand page height */
#cesnet_linker .item.parent .children {
  display: none !important;
}
#cesnet_linker .item.parent.open .children {
  display: block !important;
}
/* body */
body,
html {
  font-family: Helvetica, Arial, sans-serif;
  color: #66615c;
  min-width: 900px;
}
/* links */
a,
a:visited,
a:hover {
  color: #006600;
}
/* headings */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Pathway Gothic One', Helvetica, Arial, sans-serif;
  color: #006600;
}
/* tables */
.table > tbody > tr.active > td {
  background-color: #aec8ac;
}
/* buttons */
a.btn-info {
  background-color: #006600;
  border-color: #000000;
}
a.btn-info,
a.btn-info:visited {
  color: #fff;
}
a.btn-info:hover,
a.btn-info:focus {
  background-color: #aec8ac;
  border-color: #000000;
  color: #000000;
}
a.btn-primary {
  background-color: #006600;
  border-color: #000000;
}
a.btn-primary,
a.btn-primary:visited {
  color: #fff;
}
a.btn-primary:hover,
a.btn-primary:focus {
  background-color: #aec8ac;
  border-color: #000000;
  color: #000000;
}
/* wizard */
.wizard .link.active {
  background: #006600;
}
.wizard .link.active:hover {
  background: #aec8ac;
  color: #000000;
}
.wizard .link.active:after {
  border-left-color: #006600;
}
.wizard .link.active:hover:after {
  border-left-color: #aec8ac;
}
.wizard .badge {
  background-color: #729a80;
}
/* navbar */
.navbar-default .navbar-brand {
  color: #006600;
}
.navbar-default .navbar-brand:hover {
  color: #006600;
}
.navbar #timezone {
  font-weight: bold;
}
.navbar .navbar-collapse.collapse.in {
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 10px;
}
.navbar .breadcrumbs {
  clear: both;
}
.navbar .breadcrumbs .breadcrumb {
  background-color: transparent;
  padding-top: 0px;
  margin-bottom: 0px;
}
/* nav-lists */
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #006600;
  border-color: #000000;
}
/* help page menu */
@media (min-width: 1000px) {
  .jspHelp > .menu {
    top: 150px;
  }
}
/* cesnet footer */
#footer {
  clear: both;
  font-size: .8em;
  color: #e1e5e9;
  background-color: #4b4d4a;
  border-top: 10px solid #dcdcda;
  padding-top: 40px;
  overflow: hidden;
}
#footer a:link,
#footer a:visited {
  color: #e1e5e9;
}
#footer a:link,
#footer a:visited {
  text-decoration: underline;
}
#footer a:link:hover,
#footer a:visited:hover,
#footer a:link:focus,
#footer a:visited:focus,
#footer a:link:active,
#footer a:visited:active {
  text-decoration: none;
}
#footer .col {
  margin-bottom: 20px;
  line-height: 2.1em;
}
#footer .col h2 {
  color: #e1e5e9;
  padding-bottom: 0.8em;
  margin-bottom: 1em;
  font-size: 1.05em;
  text-transform: uppercase;
  border-bottom: 1px solid white;
}
#footer .col ul {
  padding-left: 0;
}
#footer .col ul li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 25px;
}
#footer .col ul li a:link,
#footer .col ul li a:visited {
  text-decoration: none;
}
#footer .col ul li a:link:hover,
#footer .col ul li a:visited:hover,
#footer .col ul li a:link:focus,
#footer .col ul li a:visited:focus,
#footer .col ul li a:link:active,
#footer .col ul li a:visited:active {
  text-decoration: underline;
}
