api/api.pdf
architecture/architecture.gls
architecture/architecture.pdf
presentation/presentation.pdf
shongo_api.pdf
*.log
*.out
*.toc
*.synctex.gz
*.glg
*.glo
*.xdy
*.bbl
*.blg
*.pdf.crop
*.dvi
*.nav
*.snm
api/elsarticle-num.bst
