.idea-data
.idea/.name
.idea/dataSources*
.idea/dictionaries
.idea/libraries/
.idea/misc.xml
.idea/tasks.xml
.idea/workspace.xml
.idea/sqldialects.xml
.jade
data/
keystore/
log/
migrations/meetings_*
migrations/shongo-dev_*
migrations/srom-dev_*
target/
client-web.cfg.xml
controller.cfg.xml
connector.cfg.xml
*.fsps
*.class
