.idea-data
.idea/.name
.idea/dataSources*
.idea/dictionaries
.idea/libraries/
.idea/misc.xml
.idea/tasks.xml
.idea/workspace.xml
target/
data/
controller.cfg.xml
connector.cfg.xml
client-web.cfg.xml
*.fsps
*.class
log/
.jade
