<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <context:annotation-config/>
    <context:property-placeholder/>

    <!-- Domain configuration -->
    <bean id="domain" class="cz.cesnet.shongo.controller.Domain">
        <property name="codeName"><value>cz.cesnet</value></property>
        <property name="name"><value>CESNET, z.s.p.o.</value></property>
    </bean>

    <!-- Application -->
    <bean id="controller" class="cz.cesnet.shongo.controller.Controller" init-method="startAll" destroy-method="stop">
        <property name="rpcHost" value="${rpc-host}"/>
        <property name="rpcPort" value="${rpc-port}"/>
        <property name="jadeHost" value="${jade-host}"/>
        <property name="jadePort" value="${jade-port}"/>
        <property name="jadePlatformId" value="${jade-platform-id}"/>
        <property name="entityManagerFactory"><ref bean="entityManagerFactory"/></property>
        <property name="services">
            <bean class="cz.cesnet.shongo.controller.util.BeanListFactoryBean">
                <property name="beanType" value="cz.cesnet.shongo.api.Service"/>
            </bean>
        </property>
        <property name="components">
            <bean class="cz.cesnet.shongo.controller.util.BeanListFactoryBean">
                <property name="beanType" value="cz.cesnet.shongo.controller.Component"/>
            </bean>
        </property>
    </bean>

    <!-- Components -->
    <bean id="resourceDatabase" class="cz.cesnet.shongo.controller.ResourceDatabase"/>
    <bean id="preprocessor" class="cz.cesnet.shongo.controller.Preprocessor"/>
    <bean id="scheduler" class="cz.cesnet.shongo.controller.Scheduler"/>

    <!-- Services -->
    <bean id="commonService" class="cz.cesnet.shongo.controller.impl.CommonServiceImpl"/>
    <bean id="resourceService" class="cz.cesnet.shongo.controller.impl.ResourceServiceImpl"/>
    <bean id="reservationService" class="cz.cesnet.shongo.controller.impl.ReservationServiceImpl">
        <property name="domain"><ref bean="domain"/></property>
    </bean>
    <bean id="roomService" class="cz.cesnet.shongo.controller.impl.RoomServiceImpl"/>

    <!-- Entity Manager Factory -->
    <bean id="entityManagerFactory"
          class="javax.persistence.Persistence"
          factory-method="createEntityManagerFactory">
        <constructor-arg>
            <value>controller</value>
        </constructor-arg>
    </bean>

    <!-- Entity Manager -->
    <bean id="entityManager" factory-bean="entityManagerFactory" factory-method="createEntityManager"/>

</beans>