<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <context:annotation-config/>

    <!-- Application -->
    <bean id="controller" class="cz.cesnet.shongo.controller.Controller"/>

    <!-- Services -->
    <bean id="commonService" class="cz.cesnet.shongo.controller.impl.CommonServiceImpl"/>
    <bean id="resourceService" class="cz.cesnet.shongo.controller.impl.ResourceServiceImpl"/>
    <bean id="reservationService" class="cz.cesnet.shongo.controller.impl.ReservationServiceImpl"/>
    <bean id="roomService" class="cz.cesnet.shongo.controller.impl.RoomServiceImpl"/>

    <!-- Entity Manager Factory -->
    <bean id="entityManagerFactory"
          class="javax.persistence.Persistence"
          factory-method="createEntityManagerFactory">
        <constructor-arg>
            <value>controller</value>
        </constructor-arg>
    </bean>

    <!-- Entity Manager -->
    <bean id="entityManager" factory-bean="entityManagerFactory" factory-method="createEntityManager"/>

</beans>